body {
    background-image: url("images/backgrundtop.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
    display: inline-block;
}

/* Download Button */
h2.dl-button {
    border: 2px solid green;
    color:white;
    position:absolute;
    border-radius: 5px;
    margin: 2% 5% 2% 5%;
    font-family: 'Readex Pro', sans-serif;
    padding:1%;
    background-color: #2ea44f;
    outline: thin inset #77D970;
    outline-offset: 1px;
    text-align: center;

}

h2.dl-button:hover  {
    color: royalblue;
    background-color: lightcoral;
    outline: medium outset #e94491;
    border-color: pink;
    text-shadow: 2px 2px 5px red;
}